*~

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

examples/sampleOutput
examples/sampleShrinkOutput
examples/testReverse
examples/testReverseArray
examples/testSort
examples/testChooseGenerator
examples/testSortCompact
examples/exampleElementsGen
examples/testSlowShrinking

libcppqc.so
all-catch-tests
